@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeInAnimation cubic-bezier(0.9, 0, 0.95, 0) 5000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-fast {
  animation: 100ms fadeInAnimation ease-in 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-content {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.clip-corner {
  --inset: 1.75rem;
  clip-path: polygon(
    0% 100%,
    0% calc(100% - var(--inset)),
    0% 0%,
    calc(100% - var(--inset)) 0%,
    100% var(--inset),
    100% 100%
  );
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}
dialog:not([open]) {
  display: none;
}

dialog {
  opacity: 1;
  display: grid;
  animation: modalAnimation ease-out 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes modalAnimation {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
